<!-- 
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
              
                <div class="heading-elements">
                    
                </div>
            </div>
            <div class="panel-body">
           <div style="text-align: center;">INDUSTRIES</div>
            </div>
        </div>

    </div>
</div> -->

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-flat">
            <div class="panel-heading">
              
                <div class="heading-elements">
                    
                </div>
            </div>
            <div class="panel-body">
            <i class="fa fa-mail-forward"></i>
           <p style="text-align: center;">TELECOMMUNICATIONS</p>
            </div>
        </div>

    </div>

      <div class="col-md-4">
        <div class="panel panel-flat">
            <div class="panel-heading">
              
                <div class="heading-elements">
                    
                </div>
            </div>
            <div class="panel-body">
            <i class="fa fa-usd"></i>
           <p style="text-align: center;">BANKING</p>
            </div>
        </div>

    </div>

      <div class="col-md-4">
        <div class="panel panel-flat">
            <div class="panel-heading">
              
                <div class="heading-elements">
                    
                </div>
            </div>
            <div class="panel-body">
            <i class="fa fa-users"></i>
          <p style="text-align: center;"> FMCG</p>
            </div>
        </div>

    </div>
</div>
