
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
              
                <div class="heading-elements">
                    
                </div>
            </div>
            <div class="panel-body">
           <div style="text-align: center;">INDUSTRIES</div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-flat">
            <div class="panel-heading">
              
                <div class="heading-elements">
                    
                </div>
            </div>
            <div class="panel-body">
           <div style="text-align: center;">TELECOMMUNICATIONS</div>
            </div>
        </div>

    </div>

      <div class="col-md-4">
        <div class="panel panel-flat">
            <div class="panel-heading">
              
                <div class="heading-elements">
                    
                </div>
            </div>
            <div class="panel-body">
           <div style="text-align: center;">BANKING</div>
            </div>
        </div>

    </div>

      <div class="col-md-4">
        <div class="panel panel-flat">
            <div class="panel-heading">
              
                <div class="heading-elements">
                    
                </div>
            </div>
            <div class="panel-body">
          <div style="text-align: center;"> FMCG</div>
            </div>
        </div>

    </div>
</div>







